.env
.DS_Store
/vendor/

# Plugins/temas instalados por Composer (WPackagist): no versionar, se reconstruyen en el build de Docker.
/wp-content/plugins/*
!/wp-content/plugins/gallegovela-projects
/wp-content/themes/*
!/wp-content/themes/gallegovela-theme
